@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwind-config/styles.css';

.base-scrollbar {
  @apply scrollbar-track-transparent scrollbar-thumb-rounded-lg;
}

@layer base {
  :root {
    --ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
  }

  ::-webkit-progress-value {
    transition: width 200ms var(--ease-out-back);
  }

  #__next,
  body {
    @apply flex min-h-screen flex-col;
  }

  body {
    @apply bg-primary text-base-content overflow-x-hidden bg-center bg-no-repeat;
  }
}

@layer components {
}
